*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color: rgb(22, 19, 19);
  font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  h1 img{
    width: 80px;
}
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(255, 68, 0); 
  }
  
  .active {
    background-color: rgba(218, 62, 5, 0.986); 
  }

.subTitulo{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.subTitulo h3:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.sectionGaleriaContainer {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;

}

.galeriaGrid1,
.galeriaGrid2{
  height: 270px;
  cursor: pointer;
  width: 100%;
}



/* Conteiner com informações*/
.conteiner1, .conteiner2, .conteiner3{
  display: none;
  grid-template-columns: 1fr 1.8fr;
}

.close1, .close2, .close3{
  background-color: #FF0000;
  width: 55px;
  height: 25px;
  color: white;
}

.side{
 background-color: rgba(0, 0, 255, 0.041);
}
.preco{
  width: 190px;
  margin-top: 100px;
  margin-left: 100px;
  padding: 15px;
}
.preco p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
  color: #9C9696;
}
.preco h2{
  margin-top: 15px;
  margin-bottom: 15px;
}
.preco button{
  text-decoration: none;
  width: 200px;
  height: 50px;
  color: white;
  background-color:  #FF0000; 
  border: none;   
}
main{
  height: auto;
  text-align: center;
  background-color:  #C4C4C4;
}
/* Tenis em destaque*/
.item1 .caixaItem1, .caixaItem2, .caixaItem3{
  width: 358px;
  height: 340px;
  margin-top: 20px;
  margin-left: 230px;
}
.caixaItem1{
  background-image: url('src/Camisas/camisa1.jfif');
  background-repeat: no-repeat;
  background-size: 110%;
}
.caixaItem2{
  background-image: url('src/Tenis/but1.jfif');
  background-repeat: no-repeat;
  background-size: 110%;
}
.caixaItem3{
  background-image: url('src/Bolas/b2.jfif');
  background-repeat: no-repeat;
  background-size: 110%;
}

/* Grupo de tenis*/
.grupItem{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grupItem img{
 width: 125px;
 margin: 1%;
}
.item3{
  border-bottom: 4px solid red;
}

